<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findwork">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindWork">
        <activity
            android:name=".perusahaan.DetailPelamarActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.MasukDalamPantauanActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.PercakapanActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.ProfilPerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.LowonganBerhasilDibuatActivity"
            android:exported="false" />
        <activity
            android:name=".resetPasswords"
            android:exported="false" />
        <activity
            android:name=".perusahaan.BuatLowonganPerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.AkunPerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.KelolaPelamarPerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.HomePerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".pencarikerja.PerjalananPencariKerjaActivity"
            android:exported="false" />
        <activity
            android:name=".pencarikerja.HomePencariKerjaActivity"
            android:exported="false" />
        <activity
            android:name=".pencarikerja.BookmarkPencariKerjaActivity"
            android:exported="false" />
        <activity
            android:name=".pencarikerja.AkunPencariKerjaActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.ResetPasswordPerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.SignUpPerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".perusahaan.SignInPerusahaanActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- <<<<<<< HEAD -->
        <!-- android:name=".comingSoon" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".resetPassword" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".signup" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".signin" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".resetPassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".signin"
            android:exported="false" />
        <activity
            android:name=".comingsoon"
            android:exported="false" />
        <activity
            android:name=".signinPerusahaan"
            android:exported="false" />
        <activity
            android:name=".resetPasswordPerusahaan"
            android:exported="false" />
    </application>

</manifest>